In [1]:
import numpy as np
import pandas as pd

myIndex = [('Slot1', 1), ('Slot1', 2), ('Slot1', 3), ('Slot2', 1), ('Slot2', 2), ('Slot2', 3)]
myIndex = pd.MultiIndex.from_tuples(myIndex)

dataFrame = pd.DataFrame(np.random.randn(6,2), index=myIndex, columns=['Res1', 'Res2'])
myIndex

MultiIndex(levels=[['Slot1', 'Slot2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [9]:
dataFrame

             Res1      Res2
Slot1 1 -0.341435 -0.468537
      2 -0.095194 -0.571102
      3  0.223328 -0.671962
Slot2 1  0.437729 -1.565925
      2  0.393491 -0.530919
      3 -1.610167 -0.570764

In [10]:
dataFrame.loc['Slot1']

       Res1      Res2
1 -0.341435 -0.468537
2 -0.095194 -0.571102
3  0.223328 -0.671962

In [11]:
dataFrame.loc['Slot1'].loc[2]

Res1   -0.095194
Res2   -0.571102
Name: 2, dtype: float64

In [12]:
dataFrame.index.names

FrozenList([None, None])

In [16]:
dataFrame.index.names = ['Slot', 'Var']

In [17]:
dataFrame

               Res1      Res2
Slot  Var
Slot1 1   -0.341435 -0.468537
      2   -0.095194 -0.571102
      3    0.223328 -0.671962
Slot2 1    0.437729 -1.565925
      2    0.393491 -0.530919
      3   -1.610167 -0.570764

In [18]:
dataFrame.xs('Slot1')

         Res1      Res2
Var
1   -0.341435 -0.468537
2   -0.095194 -0.571102
3    0.223328 -0.671962

In [19]:
dataFrame.xs('Slot1').xs(2)

Res1   -0.095194
Res2   -0.571102
Name: 2, dtype: float64

In [22]:
dataFrame.xs(3, level='Var')

           Res1      Res2
Slot
Slot1  0.223328 -0.671962
Slot2 -1.610167 -0.570764