# Python

In [2]:
print("aastha")

aastha

In [3]:
print(1+2)

3

In [4]:
print 1+2

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(1+2)? (<ipython-input-4-33f0c6561b96>, line 1)

In [5]:
score = "HelloWorld!"

In [6]:
score

'HelloWorld!'

In [7]:
print(score)

HelloWorld!

In [8]:
var = 8

In [9]:
var = 8.0

In [10]:
var = "df"

In [11]:
score[-1]

'!'

In [12]:
score[10]

'!'

In [14]:
score[2:-1]

'lloWorld'

In [15]:
score[2:]

'lloWorld!'

In [16]:
score[:]

'HelloWorld!'

In [17]:
score[::-1]

'!dlroWolleH'

In [18]:
a,b=10,20

In [19]:
a

10

In [20]:
b

20

In [21]:
a,b=b,a

In [22]:
a

20

In [23]:
b

10

In [24]:
mylist = ['hulk',3.87,'spiderman',4]

In [25]:
mylist[1:4]

[3.87, 'spiderman', 4]

In [26]:
mylist[[0]][0:4]

TypeError: list indices must be integers or slices, not list

In [28]:
mylist[0][0:4]

'hulk'

In [29]:
mylist[0]='mahua'

In [30]:
mylist

['mahua', 3.87, 'spiderman', 4]

In [31]:
mytuple = (23,45)

In [32]:
mytuple[1]

45

In [33]:
mytuple[0]=34

TypeError: 'tuple' object does not support item assignment

In [38]:
mydict = {'mayank':'mahua', 'aastha':'golu'}

In [35]:
mydict['mayank']

'mahua'

In [44]:
for i in range(1,11,2):
    print(i,"*",i)

1 * 1
3 * 3
5 * 5
7 * 7
9 * 9

In [47]:
a=int(input("Enter size:"))
mylist=[]
for i in range(0,a):
    mylist.append(input())

Enter size:5
sjf
fjkjbd
kdjfjb
jdjb
dkjbj

In [48]:
a=int(input("Enter size:"))
mylist = [int(input()) for i in range(0,a)]

Enter size:5
34
23
12
65
87

In [49]:
[print(i) for i in range(1,11)]

1
2
3
4
5
6
7
8
9
10

[None, None, None, None, None, None, None, None, None, None]